 .global-container {
     width: 100%;
     max-width: 1120px;
     height: 100vh;
     margin: 0 auto;
     display: flex;
     align-items: center;
     justify-content:center;
    }
    
    .login-container {
        border: 1px solid black;
        display: flex;  
        flex-direction: column;
        justify-content:center;              
        align-items: center;        
        background-color: #f0f0f5;

    }

    .login-container h1, img {
        display: flex;
        justify-content:center;              
        align-items: center;                
    }


    .form-login {
        width: 100%;
        max-width: 350px;
        margin-right: 30px;
        margin-left: 15px;

    }

    .form-login input {
        width: 96%;
        height: 40px;
        color: #333;
        border: 1px solid black;  
        margin: 15px 0px 10px 15px;
        padding: 0 24px;   
        border-radius: 4px;
    }

    #check {
        width: 10px;
        height: 10px;
        color: red;
        border: 1px solid black; 

    }

    span {
        display: flex;
        color: #333;
        border: none; 
        margin-left: 25px;
              
    }

    .button {
        width: 96%;
        height: 60px;
        background-color: rgb(49, 44, 44);
        color: white;
        font-size: 30px;
        border-radius: 6px;
        margin-top: 10px;
        display: inline-block;
        text-align: center;
        margin: 15px;
        padding: 0 20px;  
        line-height: 60px; 
        transition: filter 0.2s;
    }

.button:hover {
        filter: brightness(70%);
} 
    
    
.logado {
    display: flex;
    align-items: center;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-left: 5px;
    border-top: 0.3px solid black;  
    width: 100%;
    height: 60px;
    background-color: #f0f0f5;
    font-size: 16px;
} 

.button-rodape {
    width: 200px;
    height: 30px;
    background-color: rgb(49, 44, 44);
    color: white;
    font-size: 15px;
    border-radius: 6px;
    text-align: center;
    text-decoration: none;
    line-height: 30px;
    transition: filter 0.2s;  
}

.button-rodape:hover {
    filter: brightness(70%);
} 

.backHome {
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
}