.btn-endereco {
    width: 100%;
    margin-left: 60px;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    background-color:rgb(23, 55, 89);
    color: #fff;
    font-weight: 700;
    margin-top: 16px;
    display: inline-block;
    line-height:30px;
    transition: filter 0.2s;
}   
 
.btn-endereco:hover {
    opacity: 90%;

}

.btn-link {
    margin: 10px;
}


.buttons-end {
        display: flex;
        justify-content:left;
        padding: 5px;    
        margin: 0;
 }

 .main-Endereco {
    display: flex;
    justify-content: space-around;
    width: 99%;
    max-width: 1400px;
    height: 100%;
    max-height: 60vh;
    border-radius: 0;
    margin: 0;

}

.listaend {
    font-size: 16px;
    border: 1px solid black;
    margin: 10px;
    padding: 5px;    
    

}

.selectionEnd {
    font-size: 16px;
    border: 2px solid black;
    margin: 10px;
    padding: 5px;    
    background-color: rgb(197, 193, 193);
    color: aliceblue;
    opacity: 80%;
}

.listEnd { 
    margin: 20px;
    width: 350px;
    height: 300px;
    border: 2px solid black;
    overflow: auto;
    cursor: pointer;
    

}



.Form-endereco {
    width: 55%;
    height: 100%;
}


.endApelido {
    display: flex;
    flex-direction:row;
    align-items: center;
    padding-left: 5px;
    margin: 0;
}

.SpanEnd, .SpanCity {
    font-size: 16px;
}

.SpanCity {
    margin-left: 10px;
    padding: 10px;
}

.input-End {
    font-size: 16px;
    border: 0 transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
    width: 460px;
    padding: 15px;

}

.cidade1 {
display: flex;
align-items: center;
margin-top: 5px;
margin-left: 10px;
}



 #input-cep, #input-city, #input-uf, 
 #input-rua, #input-num, #input-bairro, #input-compl {
    font-size: 16px;
    border: 0 transparent;
    border-bottom: 1px solid black;
    border-radius: 0;
 }  

 #input-bairro {
    width: 220px;
 }
 
 
 #input-compl {
    width: 170px;
 }
 
 

 #input-cep {
    width: 90px;
 } 

 #input-city {
    width: 200px;
 } 

 #input-uf {
    width: 60px;
 } 
 #input-rua {
    width: 320px;

} 

#input-num {
    width: 60px;    
}


#input-city, #input-uf, #input-rua {
    background-color: rgb(197, 193, 193);
    color: black;
    opacity: 80%;
}

.LogEnd {
    display: flex;
    flex-direction:column;
}

.endCheck {
    margin-left: 30px;
    width: 15px;
    height: 15px;
}

.direcCheck {
    display: flex;
    flex-direction:row;
    padding: 5px;
}
